# Logs
**/logs/
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# Dependencies and Build Outputs
**/node_modules/
**/dist/
**/dist-ssr/

# Environment and Database Secrets
**/dbconfig.js
**/*.local
**/.env
**/.env.*

# Media and Large Files
**/*.MOV
**/*.mp4
**/*.avi
**/*.mkv

# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea/
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
